.App-header {
  padding: 15px;
  background-color: #697268;
  text-align: center;
  color: snow;
  padding-left: 25vw;
  padding-right: 25vw;
}

.ListTabs {
  display: flex;

}

.ListTabs-tab {
  font-size: 20px;
  padding: 20px;
}

.ToDoList {
  font-size: 25pt;
  padding-left: 25vw;
  padding-right: 25vw;
}

.ToDoList-input {
  font-size: 20pt;
  display: grid;
  padding: 5px;
  width: 100%;
  text-align: center;
}

.ToDoItems {
  display: grid;
  text-align: left;
  padding: 10px;
  grid-template-columns: auto 1fr 1fr;
  grid-gap: 10px;
  grid-template-rows: auto
}

/* make checkbox title description (see example website css for ex */